@model DeNew.Models.ViewModels.PageViewModel

@{
    ViewBag.Title = "Дубна-экспресс, дачное благоустройство, строительство";
    ViewBag.Description = "Дубна-экспресс, дачное благоустройство, строительство";
    ViewBag.Keywords = "Благоустройство, Дубна, строительство, дачи, дубна-экспресс, заборы, бытовки, вскопка участка, газоны, ямы";
}

<h1>
    Дубна-экспресс<br />
    Дачное благоустройство, строительство
</h1>
<p>Наши услуги: </p>
@if (Model.SubPages.Any())
{
    <section class="tiles">
        @foreach (var item in Model.SubPages.OrderBy(cat => cat.OrderNum))
        {
            <article class="style3">
                <span class="image">
                    <object data="/images/preview/imgStub.jpg" type="image/png">
                        <img src="@item.ImagePath" alt="" />
                    </object>
                </span>
                <a href="@item.Link">
                    <h2>@item.Name</h2>
                    <div class="content">
                        <p>@item.Description</p>
                    </div>
                </a>
            </article>
        }

    </section>
}