#editorLeft, #editorRight {
    border-style: solid;
    border-width: 1px;
    width: 49%;
    /* height: 270px; */
}

#editorLeft {
    float: left;
}

#editorRight {
    float: right;
}

#descriptionContainer {
    text-align: center;
    margin: 10px;
}

#descriptionEditor {
    height: 5em;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-family: "Times New Roman";
    font-size: 16px;
}

select {
    width: 100%;
    text-indent: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 3em;
}

.red {
   background-color: #f70303;
}

.red:hover {
    background-color: #ed1600;
}

.top-right{
    position: absolute;
    right:10px;
    top:10px;
}

.top-right-relative{
    position: absolute; 
    top: 0;
    right:0; 
    z-index: 4;
}

.red-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}

.red-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color: #bc3315;
}
.red-button:active {
    /*position: relative;*/
    top: 1px;
}

.padded-input{
    padding: 10px !important;
}


